%p Welcome to our site,
%strong= @user.name

%p You have successfully signed up to our site, your username is:
%strong= @user.name
%br
%p To login to the site just follow this link:
%p= @url

%p Thanks for joining and have a great day!