// Place all the styles related to the products controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all_file {
  min-height: 460px;
}

.links_inline {
  display: inline-block;
}

.header1 {
  display: inline-block;
}

.links.cart_pic {
  float: right;
}

.input_block {
  margin: 15px;
}